<button (click)="onClick()">Agregar nueva persona</button>

<div class="personas">
  <div class="persona" *ngFor="let pers of personas">
    <h3>{{ pers.nombre }} {{ pers.apellidos }}</h3>
    <p>{{ pers.calle }}</p>
    <p>{{ pers.telefono }}</p>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Calle</th>
      <th>Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pers of personas">
      <td>{{ pers.nombre }}</td>
      <td>{{ pers.apellidos }}</td>
      <td>{{ pers.calle }}</td>
      <td>{{ pers.telefono }}</td>
    </tr>
  </tbody>
</table>