<h1>{{ mensaje }}</h1>
<h2>Subtitulo</h2>
<p>{{ mensaje }}</p>
<p>{{ 1 + 1 }}</p>
<p>El método me devuelve: {{ mostrarSaludo() }}</p>
<!-- Valor estático: -->
<p id="identificadorParrafo">Párrafo con atributo estático</p>
<!-- Usando interpolacíon: -->
<p id="{{identifParrafo}}">Párrafo con atributo e interpolación</p>
<!-- Usando una parte estática y otra dinámica con interpolacíon: -->
<p id="prefijo-{{identifParrafo}}-sufijo">Párrafo con atributo e interpolación</p>
<!-- Property binding (Enlazamiento de propiedades): -->
<p [id]="identifParrafo">Otro párrafo</p>
<!-- Propiedad estática: -->
<input type="text">
<!-- Propiedad dinámica: -->
<input [type]="identifInput">
