<p subrayado>Párrafo con directiva subrayado</p>
<p>Párrafo sin directiva subrayado</p>
<p subrayado>Párrafo con directiva subrayado</p>

<hr>
<!-- 
<p subrayado
  [config]="{colorHover: 'yellow', colorNoHover: 'blue'}"
>Párrafo con directiva subrayado</p>
<p>Párrafo sin directiva subrayado</p>
<p subrayado
  [config]="{colorHover: 'red', colorNoHover: 'white'}"
>Párrafo con directiva subrayado</p>
 -->

<hr>
<!-- También lo podemos hacer sobre la misma directiva -->
<p [subrayado]="{colorHover: 'yellow', colorNoHover: 'blue'}"
>Párrafo con directiva subrayado</p>
<p>Párrafo sin directiva subrayado</p>
<p [subrayado]="{colorHover: 'red', colorNoHover: 'white'}"
>Párrafo con directiva subrayado</p>
