<!-- [switch]="variableEvaluar"
    Si le pasamos un número lo evalua correctamente -->
<div [ngSwitch]="opcionNumero">
  <p *ngSwitchCase="1">Opción 1</p>
  <p *ngSwitchCase="2">Opción 2</p>
  <p *ngSwitchCase="3">Opción 3</p>
  <p *ngSwitchCase="4">Opción 4</p>
  <p *ngSwitchDefault>Ninguna de las anteriores</p>
</div>

<div [ngSwitch]="opcionString">
  <!-- Si le pasamos una cadena, CUIDADO, usar comillas simples:
      NO: *ngSwitchCase="uno"   <- busca variable uno
      SI: *ngSwitchCase="'uno'" <- evalua string 'uno' -->
  <p *ngSwitchCase="'uno'">Opción 1</p>
  <p *ngSwitchCase="'dos'">Opción 2</p>
  <p *ngSwitchCase="'tres'">Opción 3</p>
  <p *ngSwitchCase="'cuatro'">Opción 4</p>
  <p *ngSwitchDefault>Ninguna de las anteriores</p>
</div>