.semaforo {
  width: 300px;
  height: 300px;
  /* border-radius: 50%; */
  background-color: blue;
}

.redondo {
  border-radius: 50%;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.amarillo {
  background-color: yellow;
}
