<!-- <div [ngClass]="{
  semaforo: true, 
  redondo: true, 
  rojo: true,
  verde: true,
  amarillo: true,
}"></div> -->

<div [ngClass]="{
  semaforo: true, 
  redondo: true, 
  rojo: (colorSeleccionado === 'r'),
  verde: (colorSeleccionado === 'v'),
  amarillo: (colorSeleccionado === 'a'),
}"></div>