<button (click)="onClick($event)">!!Pulsa!!</button>
<br>
<select (change)="onChange($event)">
  <option value="uno">Uno</option>
  <option value="dos">Dos</option>
  <option value="tres">Tres</option>
</select>
<br>
<div class="cuadrado" 
  (mouseenter)="onMouseEnter()"
  (mouseout)="onMouseOut()"
>
  {{ mensaje }}
</div>

<input type="text" 
  (change)="onChangeInput($event)" 
  (input)="onInput($event)" 
  (focus)="onFocus()" 
  (blur)="onBlur()"
>
